menu "XvSenfeng Electronic Pet"
    choice BOARD_TYPE
        prompt "Board Type"
        default BOARD_TYPE_XVSENFENGAI
        help
            Board type. 开发板类型
        config BOARD_TYPE_LICHUANG_DEV
            bool "立创·实战派ESP32-S3开发板"
        config BOARD_TYPE_XVSENFENGAI
            bool "XvSenfeng Electronic Pet"
    endchoice
endmenu
